body {
  background-color: #66ffff;
}

footer {
  font-size: 6px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
 }
.navul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: sticky;
	top: 0;
	width: 100%;
}

.pp {
  clear:both;
  float: right;
  padding:20px;
}
.navli {
	float: left;
}

.navli .nava {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navli .nava:hover {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

.navh2 {
 font-size: 2vw;
	text-align: center;
}

.navh1 {
	text-align: center;
}

.boxed {
  border: 1px solid green;
  width: 700px;
	height: auto;
	margin: auto;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/101/237/non_2x/free-abstract-background-11-vector.jpg")
}
