* {
	text-align: right;
}
body {
	background-image: url(img/bg.jpg);
	background-size: cover;
}

h2, p {
	color: #AA4139;
	text-align: center;
	border: 5px solid purple;
	cursor: pointer;
}

p {
	color: green;
	line-height: 20px;
	font-style: italic;
	font-weight: bold;

}

img {
	float: right;
}

footer {
	clear: both;
	text-align: center;
}

li {
	list-style: none;
	display: inline-block;
}

.webtext {
	border: 5px dashed green;
}

.active {
	color: red;
}

#div1 {
	background: rgba(0, 0, 255, 0.2);
}